In [2]:
with open("example2.txt", "r") as readfile:
    a = readfile.read()
    lines = a.split("\n")

In [6]:
WORD_TO_DIGIT_MAP = {
    "one": "1",
    "two": "2",
    "three": "3",
    "four": "4",
    "five": "5",
    "six": "6",
    "seven": "7",
    "eight": "8",
    "nine": "9"
}

In [4]:
lines_replaced = []

for i in lines:
    for (j,k) in zip(letters, number):
        lines_replaced.append(i.replace(j,k))

In [5]:
lines_replaced

['two1nine',
 '21nine',
 'two1nine',
 'two1nine',
 'two1nine',
 'two1nine',
 'two1nine',
 'two1nine',
 'two19',
 'two1nine',
 'eightwothree',
 'eigh2three',
 'eightwo3',
 'eightwothree',
 'eightwothree',
 'eightwothree',
 'eightwothree',
 '8wothree',
 'eightwothree',
 'eightwothree',
 'abc12threexyz',
 'abcone2threexyz',
 'abcone23xyz',
 'abcone2threexyz',
 'abcone2threexyz',
 'abcone2threexyz',
 'abcone2threexyz',
 'abcone2threexyz',
 'abcone2threexyz',
 'abcone2threexyz',
 'xtw13four',
 'x2ne3four',
 'xtwone3four',
 'xtwone34',
 'xtwone3four',
 'xtwone3four',
 'xtwone3four',
 'xtwone3four',
 'xtwone3four',
 'xtwone3four',
 '4nineeightseven2',
 '4nineeightseven2',
 '4nineeightseven2',
 '4nineeightseven2',
 '4nineeightseven2',
 '4nineeightseven2',
 '4nineeight72',
 '4nine8seven2',
 '49eightseven2',
 '4nineeightseven2',
 'z1ight234',
 'zoneight234',
 'zoneight234',
 'zoneight234',
 'zoneight234',
 'zoneight234',
 'zoneight234',
 'zon8234',
 'zoneight234',
 'zoneight234',
 '7pqrstsixteen',
 '7pqrstsixteen',
 '7pqrstsixteen',
 '7pqrstsixteen',
 '7pqrstsixteen',
 '7pqrst6teen',
 '7pqrstsixteen',
 '7pqrstsixteen',
 '7pqrstsixteen',
 '7pqrstsixteen']

In [ ]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)